<body>

    <br/>
    

     <h3 style='color:red'><i><%=mesaj %> </i></h3>
    
    
    <form action="/verificare-autentificare" method="POST">

        <label for="nume">Nume utilizator</label>
        <input type="text" name="nume"/><br/><br/>

        <label for="pass">Parola</label>
        <input type="password" name="pass"/><br/><br/>

        <input type="submit" value="Autentificare">

    </form>

    <br/>
 

</body>
