<body>


   
    <% if(CNume == undefined) { %>
        <h2>Bine ai venit . Nu esti logat! </h2>
        <% } else{ %>
            <h2>Bine ai venit <%= CNume %> </h2>
        <% } %>
    
    <h3>Acceseaza pagina Editare pentru a modifica o fotografie !</h3>

</body