<!DOCTYPE html>
<html lang="ro-RO">

    <head>
        <title>Acasa</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stil.css">
      
    </head>

<body>
        
<header class="title">
<h1>Programare Web</h1>
</header>

<nav>
 
            
        <a href="/">Acasă</a>
        <a href="/autentificare">Autentificare</a>
        <a href="/edit">Editare</a>
    
   
</nav>

        
<main id="content">
 <%- body -%>
 <br/>
            

 
</main>
        
        
<footer>

        <p><code>&copy;</code> 2020.Programare web</p>
    
</footer>
    
</body>

</html>